
<div class="row">
	<div class="col-md-12" data-ng-show="disks.length > 0">
		<span class="pull-right">
			<strong>Search: </strong><input ng-model="searchText">
			<strong>Item Per page: </strong> <input type="number" min="1" max="100"  ng-model="pageSize">
		</span>
	</br>
</br>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">List Replication</h3>
	</div>
</div>
<div class="spinner" ng-show="loading"></div> 

<table class="table table-striped table-bordered">
	<thead>
		<th>Disk Id&nbsp;</th>
		<th>Disk Name&nbsp;</th>
	</thead>
	<tbody>
		<tr dir-paginate="disk in disks  | filter:searchText | itemsPerPage: pageSize: 'disks'" >{{disk|json}}
			<td>{{disk.diskId}}</td>
			<td>{{disk.diskName}}</td>
		</tr>
	</tbody>
</table>
</div>
<div class="col-md-12" data-ng-show="disks.length == 0">
	<div class="col-md-12">
		<h4>No disk found</h4>
	</div>
</div>
</div>